.thumbnail {
    width: 100%;
  }
  
.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96,96,96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.video-link,
.channel-link {
  color: inherit;
  text-decoration: inherit;
}


.profile-picture {
  width: 36px;
  border-radius: 100%;
}

.profile-picture-container {
  position: relative; 
}

.channel-picture-tooltip {
  background-color: rgb(248,248,248);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  position: absolute;
  bottom: -75px;
  left: 8px;
  height: 70px;
  width: 220px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  align-items: center;
}

.tooltip-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-picture-container:hover .channel-picture-tooltip {
  opacity: 1;
}

.tooltip-profile-picture-container {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-profile-picture {
  width: 48px;
  border-radius: 100%;
}

.tooltip-info-container {
  padding-left: 10px;
  display: flex;
}

.tooltip-channel-name {
  font-family: Roboto, Arial;
  font-weight: 500;
  margin-bottom: 5px;
  flex: 1;
}

.tooltip-subscriber-count {
  font-family: Roboto, Arial;
  font-size: 14px;
  color: rgb(70,70,70);
  flex: 1;
}
